<h2>{{this.title}}</h2>
<h3>Equations</h3>
{{latex-maths expr="\tag{1} y = a_1x_1 + a_2x_2 + ... + a_3x_3 + c" display=true}}

<h3>Description</h3>
<p>
  Each Xn represents an independent variable. y is the dependent variable. It can be seen that simple linear regression is just a trivial case of
  this, therefore we can apply the same methods in a n-dimensional space.
</p>
<h3>Extra considerations</h3>
<h4>Categorical variables</h4>
<h5>One hot encoding</h5>
One hot encoding is the process of turning categorical variables in numerical values so that they can be used in mathematical formulas.
The new variables that are created are called Dummy Variables, and they only contain 1 or 0, indicating whether they are in that category or not respectively.
For example, given that a country variable has three options of England, Japan and India, this would be turned into the following structure:
<div class="image-container">
  <img src="/img/OneHotEncoding.png"/>
</div>
<h5>The dummy variable trap</h5>
Note that assuming all of the rows of data fall into one of these categories, any of these resulting variables can be derived from the others.
{{latex-maths expr="\tag{2} England = 1 - India - Japan" display=true}}

Therefore they are <a href="https://en.wikipedia.org/wiki/Multicollinearity">Multicollinear</a>, and including all of them is going to give worse results.
To deal with this, and avoid the Dummy variable trap, we strip one of the variables off.

<h3>Execute</h3>
<button {{action "execute"}}>Execute</button>
<div class="graphs">
  {{#each this.graphs as |graph|}}
    <div class="flex"><img style="width: 100%" src="data:image/jpeg;base64,{{graph}}"/></div>
  {{/each}}
</div>


<h3>Results</h3>
It can be seen that R&D spend has a strong correlation, marketing spend has a slight correlation and that the other variables look like they dont have any relevance at all.
However, to know if that is statistically true, we will use back propagation.

<h5>Back propagation</h5>

<button {{action "backward_propagation"}}>Perform backward propagation</button>

<table style="min-width: 500px;">
  <tr><th>Order</th><th>Variable</th><th>P-value</th></tr>

  {{#each this.table as |row index|}}
    <tr><td>{{index}}</td><td>{{row.name}}</td><td>{{row.pval}}</td></tr>
   {{/each}}
</table>